
.form-group
  = simple_form_for @user, data: { controller: 'location-selection', location_selection_url_value: turbo_fetch_users_url } do |f|
    = f.input :country,
            collection: Data::Country.all,
            priority: ['US', 'CA', 'MX'],
            include_blank: true,
            input_html: { data: { action: 'location-selection#perform' } }

    #state-container
      = f.input :state, collection: Data::State.where(country_id: @user.country)

    = f.button :submit, 'Update profile'

= content_for :modal_header do
  | Edit your profile