
.op-page
  .op-page__sidebar
    = render "sidebar"
    
  .op-page__main
    .history-page
      header.content-header
        .content-header__details
          h1.content-header__title
            | Your Go Fish History
      .op-stack
        .divider

        - 5.times do |index|
          = render 'accordion', game_num: index