
.op-page
  .op-page__sidebar
    = render "sidebar"
    
  .op-page__main
    main.op-page__main-content
      header.op-page__main-header
        header.content-header
          .content-header__details
            h1.content-header__title
              | Your Games
          .content-header__aside
            = link_to "New Game", new_game_path, class: 'btn.btn--primary'
      .op-stack data-testid='your-games'
        .divider

        - @user.games.each do |game|
          = render 'game-card', name: game.name, status: game.status, button_text: 'View'


      header.content-header.margin-top-lg
        .content-header__details
          h1.content-header__title
            | All Games
      .divider

      .op-stack data-testid='all-games'
        - (@games - @user.games).each do |game|
          = render 'game-card', name: game.name, status: game.status, button_text: 'View'
