
= simple_form_for @game do |f|
  = f.input :name
  = f.input :type, collection: ['Go Fish', 'Crazy Eights'], include_blank: false

  = f.button :submit, "Create Game"

  = content_for :modal_header do
    | Create Game