
= simple_form_for @game do |f|
  = f.input :name
  = f.input :type, collection: ['Go Fish', 'Crazy Eights'], include_blank: false

  = content_for :modal_footer do
    = f.button :submit, "Create Game", form: f.id

  = content_for :modal_header do
    | Create Game