= turbo_stream_from @game
.alert.alert--warning.alert--outlined data-controller="offline-alert"
  .alert__messages
    .alert__title
      | Warning
    .alert__description
      | You are offline
= render @game
