/* @import '@rolemodel/optics/dist/css/optics'; */

@import url("https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.3.1/dist/css/optics+phosphor_icons.min.css");

:root {
  --op-color-primary-h: 156;
  --op-color-primary-s: 58%;
  --op-color-primary-l: 38%;

  --op-space-scale-unit: 2rem;
  --gf-card-margin-shift: 25px;
  --gf-negative-card-margin-shift: -25px;

  
  --animate-duration: 0s;
}
