/ meta name='api_key' content=api_key
- game = @game || game
- current_player = game.game_state.find_player(Current.session.user.id) if game.game_state.present?
- opponents = game.game_state.players - [current_player] if game.game_state.present?

- unless game.started_at.present?
  = link_to games_path, class: 'btn btn--medium' do
    i.ph.ph-arrow-left.icon

  .simple-page
    = button_to 'Start game', start_game_path(game), method: :post, class: 'btn btn--primary'
- else
  div id=dom_id(game)
    .game
      .game__players.panel.panel--players
        .panel__header
          span.flex.items-center.gap-xs
            = link_to games_path, class: 'btn btn--medium' do
              i.ph.ph-arrow-left.icon
            | #{game.name}

        .panel__content
          .op-stack
            span Players
            - game.game_state.players.each do |player|
              - accordion_content = capture do
                span
                  | Books
                strong
                  | #{player.book_size}
              - book_collection = capture do
                .book-collection
                  - if player.book_size == 0
                    = 'No books to see here...'
                  - else
                    - player.books.each do |book|
                      = image_tag "generated_cards/#{book.cards.first.rank.downcase}_spades.svg", class: "playing-card playing-card--small"
              = render 'game-accordion', player: player, accordion_content: accordion_content, book_collection: book_collection

      .game__feed.panel.panel--feed
        div.timer data={ controller: 'timer' }
          .panel__header
            span Game Feed
            div data={ 'timer-target': 'output' }
            .badge Your Turn

        .panel__content
          .feed-content
            #message-stream
            - game.game_state.round_results.each do |result|
              - lines = result.feed_lines
              - lines.select { it.role == :action }.each do |line|
                span.feed-content__player-action = line.text
              - responses = lines.reject { it.role == :action }
              - if responses.any?
                .action-responses
                  - responses.each do |line|
                    .response-group
                      i.ph.ph-arrow-bend-down-right.icon.response-group__reply-arrow
                      - if line.role == :player_response
                        .response-group__player-response.flex.items-center.gap-xxs
                          = line.text
                      - else
                        .response-group__game-response
                          = line.text

          = simple_form_for :play_turn, url: play_game_path(game), html: { data: { controller: 'auto-play', action: 'timer:timer-over@window->auto-play#play' } } do |f|
            = f.input :player, as: :select, collection: opponents, selected: opponents.first
            = f.input :rank, as: :select, collection: current_player.hand, selected: current_player.hand.first
            - if current_player.id == game.game_state.current_player.id
              = f.button :submit, 'Ask for a card', data: { 'auto-play_target': 'playButton' }
            - else
              = f.button :submit, 'Ask for a card', disabled: true, data: { 'auto-play_target': 'playButton' }

      .game__hand.panel.panel--hand
        .panel__header
          | Your Hand

        .panel__content
          .flex
            - current_player.hand.each do |card|
              = image_tag "generated_cards/#{card.to_pathname}", class: "playing-card playing-card--large"

      .game__books.panel.panel--books
        .panel__header
          | Your Books

        .panel__content data-testid='books'
          - if current_player.books.count == 0
            = 'No books yet...get to work!'
          - else
            - current_player.books.each do |book|
              = image_tag "generated_cards/#{book.cards.first.rank.downcase}_spades.svg", class: "playing-card playing-card--medium"