
details.accordion
  summary.accordion__title
    .player-name
      i.ph.ph-caret-right.icon--small.accordion__marker.arrow-button
      span
        | #{accordion.name}
    .player-details
      span
        | Players 
        strong
          | #{accordion.players.count}
      span
        | Ended at 
        strong
          - binding.irb
          | #{accordion.ended_at}
  .accordion__body.accordion__body--history
    .game-details
      span
        | Players - 
        - accordion.players.each do |player|
          strong
            | #{player.user.email_address}
    button.btn.btn--small
      | View Feed