
details.accordion
  summary.accordion__title
    .player-name
      i.ph.ph-caret-right.icon--small.accordion__marker.arrow-button
      span
        | Game #{game_num + 1}
    .player-details
      span
        | Players 
        strong
          | 3
      span
        | Elapsed Time 
        strong
          | 7:43
  .accordion__body.accordion__body--history
    .game-details
      span
        | Players - 
        strong
          | You
        | , 
        strong
          | William
        | , 
        strong
          | Silas
      span
        | Winner - 
        strong
          | William
    button.btn.btn--small
      | View Feed