
.card.card--padded.card--shadow-large.flex.justify-between.items-center
  p.margin-none
    | #{name}
  p.margin-none
    em
      | #{status}
  - if button_text == 'View'
    = button_to button_text, game_path(game), method: :get, class: 'btn full-width'
  - else
    = button_to button_text, game_players_path(game), method: :post, class: 'btn full-width'
