
.card.card--padded.card--shadow-large.flex.justify-between.items-center
  p.margin-none
    | #{name}
  p.margin-none
    em
      | #{status}
  = button_to 'Join', game_players_path(game), method: :post, class: 'btn full-width'
