-# locals: (player:, accordion_content: nil, book_collection: nil)

details.accordion data-testid="accordion"
  summary.accordion__title
    .player-name
      i.ph.ph-caret-right.icon--small.accordion__marker.arrow-button
      span
        | #{player.name} #{player.id}
    .player-details
      span
        | Cards 
        strong
          | #{player.hand.size}

      = accordion_content

  .accordion__body 
    .card-collection
      - if player.hand.size == 0
        = 'No cards to see here...'
      - else 
        - (player.hand.size).times do
          | img to come 


    = book_collection
