
nav.sidebar.sidebar--drawer.sidebar--padded
  h2.sidebar__brand.text-center
    |  Go Fish The Logo 
  .sidebar__content.sidebar__content--start
    a.btn.btn--no-border href=games_path class=class_names('btn--active' => request.path == games_path )
      | Games
    a.btn.btn--no-border href=stats_path class=class_names('btn--active' => request.path == stats_path )
      | Stats
    a.btn.btn--no-border href=games_history_path class=class_names('btn--active' => request.path == games_history_path )
      | History
    a.btn.btn--no-border href=pages_rules_path class=class_names('btn--active' => request.path == pages_rules_path )
      | Rules
  .sidebar__content.sidebar__content--end
    / a.btn.btn--no-border
    /   | Profile
    / a.btn.btn--no-border
    /   | Log Out

    = button_to 'Profile', users_show_path, method: :get, class: 'btn btn--no-border full-width'
    = button_to 'Log out', session_path, method: :delete, class: 'btn btn--no-border full-width'