.op-page
  .op-page__sidebar
    = render "sidebar"

  .op-page__main
    main.op-page__main-content
      header.content-header
        .content-header__details
          h1.content-header__title
            | Your Go Fish Statistics