doctype html
html
  head = render 'head'
  body data-controller='service-worker' data-service-worker-url-value=pwa_service_worker_path
    = turbo_frame_tag 'modal'
    = render 'shared/flash'
    = yield